name: Build and Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    # https://github.com/42ByteLabs/.github/blob/main/.github/workflows/cargo.yml
    uses: 42ByteLabs/.github/.github/workflows/cargo.yml@main
    secrets: inherit
    permissions:
      contents: read
      actions: read
      security-events: write
  
  container-testing:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: "Build and Test"
        run: |
          docker build -t patch-release-me .
          docker run --rm patch-release-me --help
          docker run --rm patch-release-me display
